/* @group rest */
a {
    text-decoration : none;
}

ul , ol{
    list-style : none;
}

img{
    vertical-align : middle;
}

/* @end*/

img {
    max-width : 100%;
}

html {
    font-family : verdana, sans-serif;
    font-size : 100%;
    line-height : 1.5;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom : 5px;
    margin-top : 0px;
}



header{
    text-align : center;
    padding-top : 24px;
    background : white;
}

header h1{
//    margin-bottom : 24px;
}

footer {
    width : 89.796875%;
    margin : 0 auto;
    color : white;
    text-align : center;
    padding : 6px 0;
    background-color:#16A085;
    height : 20px;
}

nav {
    width : 89.796875%;
    height : 10px;
    //margin-bottom : 24px;
    background-color:#1ABC9C;
    margin : 0 auto;
}

#sns_button{
    text-align : right;
}

.fb_iframe_widget{
    width : 100%;
    margin : 0px 0px 5px 0px;
}

#twitter-widget-0{
    width:111px !importan;
}

.telling-btn{
    padding-top : 20px;
    padding-bottom : 40px;
}

.main-menu{
    margin : 10px;
}

#your_profile , #other_profile{
    margin-right : auto;
    margin-left : auto;
    margin-bottom : 20px;
}

button.judge-button{
    cursor:pointer;
    background:none;
    border:0;
    width: auto;
    overflow:visible;
    padding:0;
    font-size:0;
    line-height:0;
    margin-bottom : 40px;
}

#tweet_content{
    border-radius: 8px;
    margin : 0px 30px;
}

@media screen and (min-width : 768px){
#content .sub {
    width :  98.7%;
}
.ad1{
    margin-left : 15%;
    float : left;
}
}

@media screen and (min-width : 10240px){
#content {
    overflow : hidden;
    width : 94.75%;
}

#content .main{
    float : left;
    margin : 0 1%;
    width : 65%;
}

#content .sub {
    height : 100%;
    float : right;
    width : 30%;
    padding: 5px;
}
.ad_wrap{
    margin-bottom : 60px;
}
.ad1{
    float : none;
    margin-left : 0%;
    margin-top : 60px;
}
.ad2{
    margin-top :60px;
}

}

#content {
    //border-style : none groove none groove;
    width : 90%;
    margin : 0 auto;
    background-color:#ECF0F1;
}

#content .main,
#content .sub{
    height : 100%;
    text-align : center;
}
#content .sub{
    background-color:#3498DB;
    padding: 5px;
}

#result {
    background-color:#FFFBD5;
    text-align : left;
    margin : 12px 30px 10px;
    padding : 10px 20px;
    border-radius: 10px;
    font-size : 16px;
}

#score {
    font-size : 70px;
}

#recommend {
    margin : 30px 30px 20px;
}

#tweet_form{
    padding : 10px;
}

#tweet_button{
    margin : 10px 30px 20px;
}
/* @Progress-bar*/
#loadingSection {
    display : block;
    width : 100%;
    height : 200px;
}

#bar {
    display: block;
    width : 80%;
    margin-left : 10%;
    margin-bottom : 20px;
    height: 20px;
    background-color: #f5f5f5;
}

#bar span {
    display: block;
    width: 0;
    height: 15px;
    background-color: #ff3366;
} 


#download {
    float: left;
    margin-right: 10px;
}

#loadingSection p {
    
    padding-top : 17%;
    padding-left : 10%;
    font-family: Arial;
    font-weight: bold;
    font-size:15px;
    
}​

#loadText {
    font-size:14px;
}
/* @end*/